.form {
  &__group {
    //     border: 1px solid hotpink;
    width: 40%;
    @include respond(port) {
      width: 100%;
    }
    @include respond(phone) {
      width: 70%;
    }
  }
  &__group:not(:last-of-type) {
    margin-bottom: 1em;
  }

  &__input {
    font-size: 1rem;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    color: black;
    padding: 1em 1.5em;
    display: block;
    width: 100%;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid transparent;
    font-family: inherit;
    //el font family el tabe3e enha bt3ml inhert bs fl input msh bt3ml fa lazm 23mlha bnfsy wela hatta5d mn el browser w brdo el color nfs el kalam w moomkn ykon 7agat tnya f5oc baly fl input fl mwdo3 dah
    transition: all 0.4;

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
    }
    &:focus:invalid {
      outline: none;
      border-bottom: 3px solid red;
    }

    &::-webkit-input-placeholder {
      color: $color-primary;
    }
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 1em;
    margin-top: 1em;
    display: block;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    //mst5dmen visiablity 3shan el element yfdl mkano mwgod w opacity 3shan el visabilit mynf3sh yt3mlha animation
    transform: translateY(-2.3em);
    transition: all 0.4;
  }

  &__group-radio-layout {
    //     border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  &__radio-label {
    //     border: 1px solid indianred;
    display: flex;
    font-size: 1.1rem;
    cursor: pointer;
    @include respond(port) {
      margin-right: 1.5em;
    }
  }

  &__radio-button {
    // border: 1px solid chocolate;
    display: inline-block;
    width: 4.6vh;
    height: 4.6vh;
    border-radius: 50%;
    border: 5px solid $color-primary;
    margin-right: 0.6em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      display: inline-block;
      text-align: center;
      width: 2.5vh;
      height: 2.5vh;
      border-radius: 50%;
      background-color: $color-primary;
      opacity: 0;
    }
  }

  &__radio-input {
    display: none;
  }
  &__radio-input:checked + &__radio-label :first-child::after {
    opacity: 1;
  }
}
