.popup {
  // border: 4px solid greenyellow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  font-size: 0.9rem;
  opacity: 0;
  visibility: hidden;
  &:target {
    opacity: 1;
    visibility: visible;
  }
  @include respond(phone) {
    font-size: 0.9rem;
  }

  &__content {
    // border: 4px solid black;
    background-color: white;
    display: flex;
    width: 80%;
    border-radius: 3px;
    @include respond(phone) {
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
    }

    & .btn:last-child {
      width: 23%;
      text-align: center;
      margin-bottom: 1.2em;
      @include respond(phone) {
        width: 80%;
      }
    }
  }
  &__left {
    // border: 4px solid red;
    width: 35%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    @include respond(phone) {
      width: 100%;
      height: 30%;
      flex-direction: row;
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    @include respond(phone) {
      overflow: hidden;
    }
  }
  &__right {
    // border: 4px solid blue;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 3em;
    //ll close icon
    position: relative;
    @include respond(phone) {
      width: 100%;
      height: 70%;
      margin-left: 0em;
      justify-content: center;
      align-items: center;
      padding: 0 0.5em;
    }

    h2 {
      margin-bottom: 0.7em;
      margin-top: 1em;
    }
  }
  &__close {
    &:visited,
    &:link {
      position: absolute;
      top: 1%;
      right: 4%;
      font-size: 2rem;
      color: grey;
      text-decoration: none;
    }
  }
  &__text {
    margin-bottom: 3em;
    column-count: 2;
    column-gap: 1em;
    column-rule: 1px solid lighten(grey, $amount: 40);
    hyphens: auto;
  }
}
