.story {
  //   border: 1px solid firebrick;
  width: 75%;
  margin: 0 auto;
  border-radius: 3px;
  padding: 3.7em;
  padding-left: 5em;
  transform: skewX(-12deg);
  box-shadow: 0 3rem 6rem rgba(black, 0.1);
  background-color: rgba(white, 0.6);
  margin-bottom: 4em;
  @include respond(port) {
    width: 100%;
  }
  @include respond(phone) {
    transform: skewX(0deg);
  }

  &__shape {
    // border: 1px solid black;
    width: 23vh;
    height: 23vh;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2.5em) skewX(12deg);
    position: relative;
    @include respond(port) {
      width: 20vh;
      height: 20vh;
    }
    @include respond(phone) {
      transform: translateX(-2.5em) skewX(0deg);
      shape-outside: none;
    }
  }
  &__img {
    height: 100%;
    transform: translateX(-2.5em);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
    @include respond(phone) {
      transform: skewX(0deg);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
    //hena deh 3shan 2zbt el shaking ele by7sl lma 23ml animation
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-2.5em);
    filter: blur(3px) brightness(80%);
  }
}
