* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* font-size: 62.5%; byta5d nsba mn el default fl browser ele by3mlo el user */

  @include respond(desktop) {
    //max-width 1200px
    font-size: 70%;
  }
  @include respond(port) {
    //max-width 900px
    font-size: 63%;
  }
  @include respond(big-desktop) {
    // min-width 1800px
    font-size: 80%;
  }
}

body {
  color: #777;
  padding: 1.9em;
  @include respond(port) {
    //max-width 900px
    padding: 0;
  }
}

::selection {
  background-color: $color-primary-light;
}
