.section-about {
  // border: 2px solid red;
  background-color: $color-grey-light-1;
  padding: 15em 0;
  margin-top: -20vh;
}

.row {
  // border: 2px solid orange;
  display: flex;
  justify-content: space-between;
  width: 76%;
  margin: 0 auto;
  @include respond(port) {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }
}
.col-1-of-2 {
  // border: 2px solid black;
  display: flex;
  width: 70%;
  justify-content: space-between;
  // align-items: center;
  flex-direction: column;
  @include respond(port) {
    // flex-direction: column;
    // align-items: center;
    // justify-content: stretch;
    // height: 50vh;
    margin-bottom: 2em;
  }
}

.section-features {
  // border: 2px solid red;
  padding: 20em 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -5em;
  @include respond(port) {
    padding: 10em 0;
  }
}

.col-1-of-4 {
  // border: 2px solid yellowgreen;
  width: 22%;
  // height: 100%;

  @include respond(port) {
    //max-width 900px
    width: 55%;
    margin-bottom: 3em;
  }
}

.row2 {
  // border: 2px solid orange;
  transform: skewY(7deg);
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 7em;
  @include respond(port) {
    //max-width 900px
    flex-direction: column;
  }
}

.section-tours {
  // border: 2px dotted forestgreen;
  background-color: $color-grey-light-1;
  padding: 15em 0 10em 0;
  margin-top: -6em;
  @include respond(port) {
    padding: 10em 0 5em 0;
  }
}
.row3 {
  // border: 2px dotted orange;
  display: flex;
  width: 76%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  @include respond(port) {
    //max-width 900px
    flex-direction: column;
    width: 100%;
  }
}
.col-1-of-3 {
  // border: 2px dotted black;
  width: 30%;
  @include respond(port) {
    //max-width 900px
    width: 60%;
    margin-bottom: 3em;
  }
}

.section-stories {
  // border: 2px solid orange;
  padding: 6.375em;
  position: relative;
}

.section-book {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 8em 0;
  @include respond(port) {
    //max-width 900px
    padding: 5em 0;
  }
}
.row5 {
  // border: 1px solid firebrick;
  width: 90%;
  margin: auto;
  @include respond(port) {
    //max-width 900px
    width: 65%;
  }
  @include respond(phone) {
    //max-width 900px
    width: 80%;
    border-radius: 5px;
  }
}
.book {
  // border: 3px solid khaki;
  // height: 50rem;
  //7tena hena el hieght b7es ne el row bya5od el hieght 3ala 2sas el content ele gwa
  background-image: linear-gradient(
      105deg,
      rgba(white, 0.8) 0%,
      rgba(white, 0.8) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  padding: 3.2em;
  @include respond(port) {
    //max-width 900px
    background-image: linear-gradient(
        90deg,
        rgba(white, 0.8) 0%,
        rgba(white, 0.8) 100%
      ),
      url(../img/nat-10.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
